<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add Category</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Categories</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- /.container-fluid -->
    <section class="content">
      <div class="container-fluid">
        <div class="row mt-4">
          <div class="col-md-2"></div>  
          <div class="col-md-4">
            <div class="card card-success align-content-center">
              <div class="card-header">
                <h3 class="card-title">
                  Add <small>Category</small>
                </h3>
              </div>
  
              <form>
                <div  class="card-body">
                  <div class="form-group">
                    <label>Name</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Enter Category Name ... " />
                  </div>
                
                  <div  class="form-group">
                    <label >Description</label>
                    <textarea
                        class="form-control"
                        placeholder="Enter Category Description ... "
                      ></textarea>
                     
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn btn-success" (click)="addCategory()" >
                     Add Category
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          
        </div>
      </div>
    </section>
  </div>
  
